@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Versa";
  src: url("../fonts/Versa.woff2") format("woff2"),
    url("../fonts/Versa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Versa {
  font-family: "Versa";
}
